@import '../../utils/variables';

.modalContainer {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  // line-height: 30px; 之後進專案，如果你是想要 各項文字中有一些間距的話，好像 margin padding 比較好，因為這一行影響了 popup 下的 " 每項元素至少行高為 30px"，要留意一下整體是否會與設計稿相同
  line-height: 30px;
  z-index: 4;
  overflow: hidden;
  .foodImg{
    position: absolute;
    top:0px;
    left:0px
  }
  .closeBtn{
    position: absolute;
    top: 10px;
    right:10px;
    background-color: $primary;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    // grid 通常不會這樣用，因為這邊只是簡單對齊，這邊可以簡單用 padding 去寫距離
    display: grid;
    place-items: center;
    cursor:pointer;
    svg{
      color:#fff
    }
  }
  .titleContainer{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
  }
  .popUpTitle{
    font-size: 24px;
    font-weight: 600;
  }
  .popUpDescription{
    font-size: 14px;
    color:$gray;
    margin-bottom: $gapMd;
  }
  textarea{
    width: 300px;
    height: 150px;
    padding: $gapBase;
    border:1px solid $lightGrey;
    border-radius: 6px;
    &:focus{
      border:1px solid $primary
    }
  }
  .addToCartContainer{
    display: flex;
    gap:$gapSm;
    width: 100%;
  }
  .addOrderNum{
    width: 50px;
    border:1px solid $lightGrey;
    border-radius: 6px;
    &:focus{
      border:1px solid $primary
    }
  }
  .addToCartBtn{
    background-color: $primary;
    border: none;
    width: 100%;
    height: 40px;
    color:$white;
    border-radius: 6px;
    cursor: pointer;
  }
  .defaultAddCartBtn{
    background-color: $secondary;
    cursor:not-allowed
  }
  .trashBtn{
    width:25px;
    display: grid;
    place-content: center;
    background-color: $white;
    border: none;
    svg{
      margin-top: 5px;
      color:$primary;
      transform: scale(1.3);
      cursor: pointer;
    }
  }
}